<div class="container-fluid">
  <br>
<div class="row">
  <div class="col-sm-12 col-md-1 col-lg-1"></div>
  <div class="col-sm-12 col-md-10 col-lg-10">
   <div class="jumbotron text-center">
  <h1 class="display-4">Create A Burger</h1>
</div>
  </div>
  <div class="col-sm-12 col-md-1 col-lg-1"></div>
</div>

<br><br><br>
<div class="row">
<div class="col-sm-12 col-md-4 col-md-4  d-flex justify-content-center">
<div class="burger-container">
<h2 class="text-center burger-head shadow">Burgers</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burger/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
 <h2 class=" shadow-lg burger-bottom "></h2>
</ul>

</div>

</div>
<div class="col-sm-12 col-md-4 col-md-4 form shadow">
  <br><br>
<h1 class="text-center name">Name Your Burger</h1>

<form id="create-form">
  <div class="form-group text-center">
   
    <input type="text" id="burg" name="name">
  </div>
  <br>
  <button id="submitBtn" class="btn btn-danger" type="submit">Make Your Burger!</button>
</form>



</div>
<div class="col-sm-12 col-md-4 col-md-4 d-flex justify-content-center">
<div class="burger-container">
<h2 class="text-center burger-head">Devoured Burgers</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burger/burger-block devoured=false}}
  {{/if}}
  {{/each}}
  <h2 class="burger-bottom"></h2>
</ul>

</div>

</div>
</div>


</div>
