<li class="text-center shadow ">
	{{name}}	
</li>
{{#if devoured}}
	<button class="devour btn btn-warning burger-btn shadow" data-id="{{id}}" data-newdevour="{{devoured}}">
		 Devour It </button> 
	{{/if}}
	{{#unless devoured}}
	<button class="deleteBurger burger-btn btn btn-warning shadow " data-id="{{id}}" value="delete">Trash It</button>
	{{/unless}}
